{% extends "base.html" %}
{% block page_content %}
<div class="mdui-container mt-4">
    <h3 class="mb-4 mdui-m-t-4">选择您的性别</h3>
    <form method="post" action="{{ url_for('result') }}" enctype="multipart/form-data">
        <div class="mdui-row">
            <div class="mdui-col-md-6 mdui-col-sm-12">
                <div class="mdui-card mdui-hoverable gender-card" data-gender="male">
                    <div class="mdui-card-media">
                        <img src="{{ url_for('static', filename='/gender/刘德华.jpeg') }}" alt="Male">
                        <div class="mdui-card-media-covered">
                            <div class="mdui-card-primary">
                                <div class="mdui-card-primary-title">男</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-col-md-6 mdui-col-sm-12">
                <div class="mdui-card mdui-hoverable gender-card" data-gender="female">
                    <div class="mdui-card-media">
                        <img src="{{ url_for('static', filename='/gender/俞飞鸿.png') }}" alt="Female">
                        <div class="mdui-card-media-covered">
                            <div class="mdui-card-primary">
                                <div class="mdui-card-primary-title">女</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--     年龄滑块设计   -->

<h3 class="mb-4 mdui-m-t-4">选择您的年龄（18-40）</h3>
    <div class="mdui-slider">
      <input type="range" step="1" min="18" max="40" oninput="updateValue(this.value)"/>
        <div class="mdui-slider-pin" id="sliderValue"></div>
    </div>
<!--添加一个隐藏的输入字段来存储性别的值-->
        <input type="hidden" name="gender" id="gender-input">
<!--添加一个隐藏的输入字段来存储滑块的值-->
        <input type="hidden" name="age" id="age-input">
<h3 class="mb-4 mdui-m-t-4">选择您的职业</h3>
<input type="hidden" name="job" id="job-input">
<div class="mdui-container">
    <div class="mdui-tab mdui-color-theme-white" mdui-tab>
      <a  data-job="大金融或大厂" class="mdui-ripple mdui-ripple-white">
        <i class="mdui-icon material-icons">attach_money</i>
        <label>大金融或大厂</label>
      </a>
      <a data-job="公务员" class="mdui-ripple mdui-ripple-white">
        <i class="mdui-icon material-icons">star_border</i>
        <label>公务员</label>
      </a>
      <a data-job="事业单位"  class="mdui-ripple mdui-ripple-white">
        <i class="mdui-icon material-icons">perm_contact_calendar</i>
        <label>事业单位</label>
      </a>
       <a  data-job="国企单位" class="mdui-ripple mdui-ripple-white">
        <i class="mdui-icon material-icons">directions_subways</i>
        <label>国企单位</label>
      </a>
        <a  data-job="私企" class="mdui-ripple mdui-ripple-white">
        <i class="mdui-icon material-icons">directions_run</i>
        <label>私企</label>
      </a>
        <a  data-job="灵活就业（读书ing）" class="mdui-ripple mdui-ripple-white">
        <i class="mdui-icon material-icons">sentiment_very_dissatisfied</i>
        <label>灵活就业（读书ing）</label>
      </a>
    </div>
  </div>

<h3 class="mb-4 mdui-m-t-4">选择上传您的照片</h3>
         <!-- 照片上传 -->
    <div class="mdui-textfield mdui-textfield-floating-label">
        <input type="file" name="photo" class="mdui-textfield-input">
    </div>
        <div class="mdui-m-t-4">
            <button type="submit" class="mdui-btn mdui-color-pink mdui-ripple">提交</button>
        </div>
    </form>
</div>


<script>
    document.querySelectorAll('.gender-card').forEach(card => {
        card.addEventListener('click', function() {
            const gender = this.getAttribute('data-gender');
            document.getElementById('gender-input').value = gender;
            // Optionally: Submit the form automatically upon selecting a gender.
            // document.forms[0].submit();
        });
    });

    function updateValue(val) {
        document.getElementById('sliderValue').innerText = val;
        let slider = document.querySelector('input[type="range"]');
        let max = slider.getAttribute('max');
        let min = slider.getAttribute('min');
        let percentage = (val - min) / (max - min) * 100;
        document.getElementById('sliderValue').style.left = `calc(${percentage}% - 12px)`; // 考虑到滑块值的宽度
        document.getElementById('age-input').value = val;  // 更新隐藏输入字段的值
    }


    // 为每个职业选项添加点击事件
document.querySelectorAll('.mdui-tab a').forEach(option => {
    option.addEventListener('click', function() {
        const job = this.getAttribute('data-job');
        document.getElementById('job-input').value = job;  // 将选定的职业保存到隐藏的输入字段中
    });
});
</script>


<style>
    .gender-card img:active {
        transform: scale(0.95);
    }

    /* 滑块样式 */
    .mdui-slider-pin {
        transform: translateX(-50%); /* 使数字始终居中 */
        position: absolute; /* 绝对定位以便于移动 */
        bottom: -25px; /* 设置离滑块的距离 */
    }
</style>
{% endblock %}
